.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~
.directory

.vscode/

.idea/
*.iml

*.sublime-project
*.sublime-workspace

*.swp
*.swo
\#*\#
.#*

node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

*.log
.env
.env.*